/****** Script for SelectTopNRows command from SSMS  ******/
/*SELECT TOP (1000) [productID]
      ,[productName]
      ,[supplierId]
      ,[categoryId]
  FROM [demodb].[dbo].[Product]*/
  select * from OrderDetails;