

<router-outlet></router-outlet>
<h1>{{title}}</h1>
<!--
<app-datatypes></app-datatypes>
<app-employee></app-employee>


<app-customer></app-customer>
<app-databinding></app-databinding>
<app-simpleinterest></app-simpleinterest>
<app-simplecalculator></app-simplecalculator>
<app-ngswitch></app-ngswitch>
<app-styledemo></app-styledemo>
<app-classdemo></app-classdemo>
<app-formdemo></app-formdemo>
<app-employeetemplatedemo></app-employeetemplatedemo>
<app-posts></app-posts>
<app-todos></app-todos>
<app-corona></app-corona>
<app-parent></app-parent>
-->


<app-companies></app-companies>
