<p>datatypes works!</p>
<div class='d2'>
    <p>String datatype:{{course}}</p>
    <p>Number datatype:{{duration}}</p>
    <p>Number datatype:{{creditpoints}}</p>
    <p>Boolean datatype:{{isRegistered}}</p>
    <p>Array:{{courses}}</p>
    <p>Array Value:{{courses[1]}}</p>
    <p>Object:{{student['name']}}</p>
    <p>Array Of Objects:{{students[1]['location']}}</p>
    <p>Any datatype:{{anytype}}</p>
    <p>Function:{{training()}}</p>
    <button (click)="buttonClicked()">Click</button>
  <p>You have  clicked{{counter}}</p>
  
  
  
  
  
  
  
  
  </div>
